@page
@model Fastfood.Pages.Monans.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Monan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Monan.MonanId" />
            <div class="form-group">
                <label asp-for="Monan.Ten" class="control-label"></label>
                <input asp-for="Monan.Ten" class="form-control" />
                <span asp-validation-for="Monan.Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monan.Loai" class="control-label"></label>
                <input asp-for="Monan.Loai" class="form-control" />
                <span asp-validation-for="Monan.Loai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monan.GiaMua" class="control-label"></label>
                <input asp-for="Monan.GiaMua" class="form-control" />
                <span asp-validation-for="Monan.GiaMua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monan.GiaBan" class="control-label"></label>
                <input asp-for="Monan.GiaBan" class="form-control" />
                <span asp-validation-for="Monan.GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monan.Soluong" class="control-label"></label>
                <input asp-for="Monan.Soluong" class="form-control" />
                <span asp-validation-for="Monan.Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monan.Nhacc" class="control-label"></label>
                <input asp-for="Monan.Nhacc" class="form-control" />
                <span asp-validation-for="Monan.Nhacc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
