@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="text-dark">ỨNG DỤNG QUẢN LÍ</h1>
        <h2 class="display-4">CỬA HÀNG THỨC ĂN NHANH</h2>
       
    </div>
